@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: Abel, sans-serif;
}

/*--game name and refresh button--*/

header {
    
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    max-width: 30%;
    border: 2px solid #615D6C;
    border-radius: 25px;
}

header > div {
    display: inline-block;
}

header h1 {
    font-family: Quicksand , sans-serif;
    font-size: 250%;
    letter-spacing: 2px;
    color: #283044;
}

header button {
    margin-left: 50px;
    font-size: 250%;
    background-color: white;
    color: #615d6c7c;
}

header button:hover {
    color: rgb(255, 0, 0);
    transition: 0.2s;
}


/*----- main content image and name  -----*/

.main-content {
    position: relative;
    margin: 20px auto;
    max-width: 30%;
    border: 2px solid #615D6C;
    border-radius: 30px;
}

.main-content h2 {
    text-align: center;
    font-size: 200%;
}

#country-img {
    text-align: center;
    margin-top: 40px;
    
}


#country-img img {
    max-width: 65%;
    border: 1px solid white;
    border-radius: 15px;
}

#country-img img:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

/*-----choices----*/

#first-choices {
    margin-top: 25px;
    text-align: center;
}

#first-choices button {
    font-family: Quicksand , sans-serif;
    font-size: 150%;
    width: 40%;
    line-height: 40px;
    background-color: white;
    border: 2px solid #6F8AB7;
    border-radius: 20px;
}

#first-choices button:hover {
    background-color:#a7d1eb44;
    border-color:#89BBFE;
    transition: 0.2s;
}

.one-choice {
    margin-right: 20px;
}

#second-choices {
    margin-top: 25px;
    text-align: center;
}

#second-choices button {
    font-family: Quicksand , sans-serif;
    font-size: 150%;
    width: 40%;
    line-height: 40px;
    background-color: white;
    border: 2px solid #6F8AB7;
    border-radius: 20px;

}

#second-choices button:hover {
    background-color:#a7d1eb44;
    border-color:#89BBFE;
    transition: 0.2s;
}

.three-choice{
    margin-right: 20px;
}


/*--- submit button ----*/

#button-submit {
    margin: 20px 0;
    text-align: center;
}

#button-submit button {
    font-family: Quicksand , sans-serif;
    font-size: 25px;
    width: 30%;
    line-height: 40px;
    background-color: white;
    border: 2px solid #C16E70;
    border-radius: 20px;
}

#button-submit button:hover {
    background-color: #6ec2903f;
    border-color: #6EC290;
    transform: scale(1.02);
    transition: 0.2s;
}


/*------- result display --------- */

.scoreboard {
    text-align: center;
}

#resultdisplay {
    font-size: 500%;
}

#resultdisplay i {
    margin: 0 5%;
}

#correct {
    color:rgb(3, 175, 3);
}

#wrong {
    color: red;
}