@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    font-family: Abel, sans-serif;
}

/*--game name and refresh button--*/

header {
    
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    max-width: 30%;
    border: 2px solid #615D6C;
    border-radius: 25px;
}

header > div {
    display: inline-block;
}

header h1 {
    font-family: Quicksand , sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #615D6C;
}

header button {
    margin-left: 50px;
    font-size: 35px;
    background-color: white;
    color: #615d6c7c;
}

header button:hover {
    color: rgb(255, 0, 0);
    transition: 0.2s;
}


